/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/ArsenicaTrial-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 480px) {
  .number {
    font-size: 1.8rem;
  }

  .colon {
    font-size: 1.6rem;
  }

  .label {
    font-size: 0.65rem;
  }
}


:root {
  /* Dorados */
  --gold-primary: #795300;
  --gold-light: #b28405;
  --gold-soft: #efb810;
  --gold-softer: #f6d87c;
  --gold-softest: #ffff94;

  /* tamaño Fuentes */
  --title-font-size: 4rem;
  --text-font-size: 1.75rem;
  --subtitle-font-size: 2.5rem;
  --subtext-font-size: 1.25rem;
}
 


/* HEADER GENERAL */

.main-header,
.header-image-container,
.header-content {
  transition: all 0.5s ease-in-out;
}




/* ===== ESTADO SCROLL ===== */


body {
  scroll-behavior: smooth;
}

/* HERO */
.hero {
  height: 100vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER STICKY REAL */
.main-header {

  
  height: 20vh;
  text-align: center;
  padding: 1.5rem;
  border-bottom: 2px solid var(--gold-light);

  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-image: url('/banner.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Body */
.body-invitation {
  background-image: url("/Fondo.jpg");
  background-size: 100% auto;     /* cubre TODO el ancho */
  background-repeat: repeat-y;    /* solo se repite hacia abajo */
  background-position: center top;
}
.body-album {
  background-image: url("/Fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  align-items: center;
  text-align: center;
}
.invitacion-prevista {
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 102%;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
}

.invitacion-prevista img {
  margin: 2rem auto;
  width: 23rem;
  height: 30rem;
}

.countdown{
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 102%;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  margin: 2rem 0 ;
  padding: 2rem;

}
.countdown-title {
  font-family: "allura", cursive;
  font-size: var(--title-font-size);
  color: var(--gold-light);
  margin-top: 1rem;
}

.countdown-icon {
  width: 90px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.countdown-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1rem;
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 55px;
}
.number {
  font-family: "Playfair Display";
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-primary);
  line-height: 1;
}
.label {
  font-family: "Playfair Display",bold;
  font-size: 1.2rem;
  color: var(--gold-primary);
  margin-bottom: 2rem;
}
.colon {
  font-size: 2rem;
  color: var(--gold-primary);
  margin-bottom: 3rem;
}

.countdownhour{
  margin-left: 1.5rem;
  font-family: "Playfair Display",bold;
  font-size: 1.25rem;
  color: var(--gold-primary);
}


/* Secciones */
.section {
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  background-image: url("/fondo_sec.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;

}

/* Invitacion Evento Section */
.date {
  margin: 2rem;
  font-family: "allura", cursive;
  font-size: var(--text-font-size);
  color: var(--gold-primary);
  margin-top: 2rem;
  text-align: center;
}

.invitacion-evento {
  margin: 1.5rem 0;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  margin: 3rem auto;
  padding: 1.8rem;
  max-width: 450px;
  border-radius: 20px;
}


/* Dress Code Section */

.dresscode{
  text-align: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 102%;
  background-repeat: no-repeat;
  background-position: center top;
}

.dresscode-type{
  margin-top: 2rem;
  font-family: 'allura', bold;
  font-size: 6rem;
  color: var(--gold-light);
}
.dresscode-colors-title {
  font-family: 'allura', bold;
  font-size: 3rem;
  color: #daa718;
}

/* IMÁGENES */
.dresscode-images {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.dresscode-images img {
  width: 300px;
  border-radius: 15px;
}


.dresscode-colors-title {
  margin-top: 1.5rem;
  font-weight: 500;
}


.color-palette {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 1rem;
  
}


.color-box {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.color-tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: #333;
  padding: 6px 10px;
  font-size: 0.75rem;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: opacity 0.25s ease;
}


.color-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}


.color-box:hover .color-tooltip {
  opacity: 1;
}



/* Album principal */
.album-grid {
  display: grid;
  grid-template-columns: no-repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin:2rem;
}

.album-card {
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 107%;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  margin-bottom: 2rem;
}

.album-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.album-card img {
  margin-top: 4rem;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 2rem;
}



.album-title {
  font-family: "Playfair Display",bold;
  font-size: var(--subtext-font-size);
  color: var(--gold-primary);
  margin-top: 1rem;
}
/* Album Section */
.album-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.album-item {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  width: 16rem;
  height: 16rem;
  transition: transform 0.25s ease;
   background-image: url("/fondo_sec.png");
  background-size: 40vh 100%;
  background-repeat: no-repeat;
  background-position: center top;

  
}

.album-item:hover {
  transform: translateY(-4px) scale(1.02);
}

/* Perforaciones arriba y abajo */
.album-item::before,
.album-item::after {
  content: '';
  position: absolute;
  left: 8px;
  right: 8px;
  height: 14px;
  opacity: 0.85;
  z-index: 2;
}

/* Parte superior */
.album-item::before {
  top: 4px;
}

/* Parte inferior */
.album-item::after {
  bottom: 4px;
}

/* Foto / video estilo diapositiva */
.album-item img,
.album-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px 10px; /* espacio para perforaciones */
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1;
  position: relative;
}


.album-item:hover {
  transform: scale(1.03);
}

.album-item img, .album-item video {
  margin-top: 1rem;
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 8px;
}


/* CAROUSEL SECTION */
.carousel-bg{
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 105%;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.carousel-container {
  width: 110%;
  max-width: 25rem;
  text-align: center;
  justify-self: center;
  position: relative;
}

/* IMAGEN */
.carousel-image {
  width: 23rem;
  height: 450px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;

}

/* DOTS */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -14px;
}

/* DOT NORMAL */
.dot {
  width: 8px;
  height: 8px;
  background-color: #a87b05;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* DOT ACTIVO */
.dot.active {
  width: 16px;
  height: 8px;
  border-radius: 10px;
  background-color: #efb810;
  opacity: 1;
}

/* DRESS CODE SECTION */

/* LOCATION SECTION */

.location-section {
  text-align: center;
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
}

.location-image {
  
  width: 100%;
  max-width: 260px;
  border-radius: 14px;
  margin-top: 6rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.map-container {
  margin: 1.5rem 0;
  border-radius: 14px;
  overflow: hidden;
}

.map-container iframe {
  width: 23rem;
  height: 250px;
  border: 0;
}

.map-button {
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 30px;
  background: var(--gold-soft);
  color: var(--gold-primary);
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 4rem;
}

.map-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.location-card {
  margin: 3rem auto;
  padding: 1.5rem;
  max-width: 520px;
  border-radius: 20px;
  background-image: url("/fondo_sec.png");
  background-size: 29rem 105%;
  background-repeat: no-repeat;
  background-position: center top;
}

.location-title {
  font-family: "allura", bold;
  font-size: var(--subtitle-font-size);
  color: var(--gold-light);
}

.location-p {
  font-family: "Playfair Display",bold;
  font-size: var(--subtext-font-size);
  color: var(--gold-primary)
}
/* GIFT SECTION */

.gift-section {
  border-radius: 14px;
  overflow: hidden;
  margin: 3rem auto;
  max-width: 450px;
  border-radius: 20px;

  text-align: center;
  padding: 1rem;
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 107%;
  background-repeat: no-repeat;
  background-position: center top;
  
}

.gift-img {
  width: 100px;
  margin: 2rem;
  margin-top: 8rem;
}
.gift-title {

  font-family: "allura",cursive;
  font-size: var(--title-font-size);
  color: var(--gold-light);
}

.gift-text {
  
  font-family: "Playfair Display",bold;
  font-size: var(--text-font-size);
  color: var(--gold-primary);
  line-height: 1.6;
  margin-bottom: 1.2rem;
  margin: 2rem;
  text-align: center;
}

.gift-option {
  display:block;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}

.gift-sobre {
  font-family: "Playfair Display",bold;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gold-primary);
}

.gift-option img {
  width: 100px;        /* tamaño ideal */
  height: auto;
  object-fit: contain;
}

.gift-option span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--gold-primary);
}
.gift-option.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.gift-option.vertical img {
  width: 250px;       /* elegante */
}

.gift-option.vertical span {

  font-size: 1rem;
  font-weight: 600;
  color: var(--gold-primary);
}


/* ALBUM SECTION */
.special-moments {
  justify-self: center;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 106%;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;

  font-family: "Playfair Display",bold;
  font-size: 1.5rem;
  color: var(--gold-primary);

}
.special-img {
  width: 100px;
  margin: 2rem;
  margin-top: 4rem;

}
.special-title {
  font-family: "allura", cursive;
  font-size: var(--title-font-size);
  color: var(--gold-light);
}
.special-moments-text {

  font-family: "Playfair Display",bold;
  font-size: var(--text-font-size);
  color: var(--gold-primary);
  text-align: center;
}

.album-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1rem 1.4rem;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 2rem;
}

.album-button img {
  width: 200px;
  margin-bottom: 0.4rem;
}

.album-button span {
  font-family: "Playfair Display",bold;
  font-size: var(--subtext-font-size);
  font-weight: 600;
  color: var(--gold-light);
}

.album-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.2);
}

h1 {
  color: var(--gold-light);
  font-family: "allura", cursive;
  font-size: var(--title-font-size);
  align-self: center;
  margin-top: 2rem;
}

h2 {
  color: var(--gold-primary);
  font-family: "allura", cursive;
  font-size: var(--subtitle-font-size);
  font-weight: 600;
}

h3 {
  color: var(--gold-soft);
  font-family: "Playfair Display", bold;
  font-size: var(--subtext-font-size);
  margin-bottom: 2rem;
  
}

/* Miniaturas */
.album-thumb {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.album-thumb:hover {
  transform: scale(1.03);
}

/* Fondo oscuro */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Marco blanco tipo polaroid */
.lightbox-frame {
  background: white;
  padding: 20px 20px 140px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
  max-width: 90vw;
  max-height: 90vh;
}

/* Imagen cuadrada */
.lightbox-frame img {
  width: 70vmin;
  height: 70vmin;
  object-fit: cover;
  display: block;
}


/* MESSAGES SECTION */
.guest-messages-section {


  justify-self: center;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 107%;
  background-repeat: no-repeat;
  background-position: center top;
}
.guest-messages-title {
  font-family: "allura", cursive;
  font-size: var(--title-font-size);
  color: var(--gold-primary);
}

.guest-messages-img {
  width: 100px;
  margin: 2rem;
  margin-top: 10rem;
}

.messages-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.8rem;
  margin-bottom: 4rem;
}

.message-card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 22px;
  margin: 1rem;
  padding: 1.4rem 1.4rem;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  position: relative;
}

.message-card::before {
  content: "“";
  font-size: var(--title-font-size);
  color: var(--gold-soft);
  position: absolute;
  top: -10px;
  left: 16px;
  opacity: 0.4;
}

.message-text {
  font-family: "allura", cursive;
  font-size: var(--subtitle-font-size);
  color: var(--gold-soft);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.message-name {
  font-family: "Playfair Display", bold;
  font-weight: 600;
  font-size: var(--subtext-font-size);
  color: var(--gold-primary);
  text-align: right;
}

/* RSVP FORMULARIO */


.rsvp-section {
  justify-self: center;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
  background-image: url("/fondo_sec.png");
  background-size: 26.5rem 107%;
  background-repeat: no-repeat;
  background-position: center top;
}

.rsvp-title {
  font-family: "allura", cursive;
  font-size: var(--title-font-size);
  color: var(--gold-light);
  margin-bottom: 2rem;

}

.rsvp-img {
  width: 100px;
  margin: 2rem;
  margin-top: 4rem;
}
.form-group {
  margin-bottom: 1.4rem;
  text-align: center;
  font-family: "Playfair Display", bold;
  
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
  color: var(--gold-primary);
  
}

.form-group input[type="text"],
.form-group textarea {

  width: 80%;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: var(--gold-primary);
}

.form-group textarea {
  resize: none;
  min-height: 80px;
}
.info-text {
  font-family: "Playfair Display", bold;
  font-size: var(--subtext-font-size);
  color: var(--gold-primary);
  margin-bottom: 1.5rem;
}
.sel-rsvp {
  font-family: "allura", cursive;
  font-size: var(--subtitle-font-size);
  color: var(--gold-soft);
}
.dropdown {
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  background: white;
  color: var(--gold-soft);
}

.dropdown li {
  padding: 0.6rem;
  cursor: pointer;
}

.dropdown li:hover {
  background: var(--gold-softer);
}

/* FOOTER SECTION  */
.link-btn {
  background: none;
  border: none;
  color: var(--gold-light);
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: underline;
}
.link-btn:hover {
  text-decoration: underline;
  color: var(--gold-softest);
}

.primary-btn {
  width: 100%;
  padding: 0.8rem;
  background: var(--gold-soft);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: var(--gold-primary);
  cursor: pointer;
  margin-bottom: 2rem;
}
.footer-contact {
  background: linear-gradient(135deg, #f6e6d7, #f2d3b3);
  padding: 3rem 1rem;
  text-align: center;
  margin-top: 4rem;
}

.footer-content {
  max-width: 500px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #5a3e2b;
}

.footer-text {
  font-size: 1rem;
  color: #6d4c41;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #25d366;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-button img {
  width: 20px;
  height: 20px;
}

.contact-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.footer-email {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #6d4c41;
}

.footer-email a {
  color: #8d5a2b;
  text-decoration: none;
  font-weight: 500;
}

.footer-email a:hover {
  text-decoration: underline;
  color: #ffff94;
}

.footer-copy {
  display: block;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #8d6e63;
}

.xv{
  color: #b98f22;
  font-family: 'Playfair Display',bold;
  font-size: 6rem;
}

.bella{
  margin-top: -1.5rem;
  font-family: 'allura', cursive;
  font-size: 3rem;
  color: #daa718;
}



.countdown {
  color: var(--gold-primary);
  font-family: "Playfair Display", bold;
  font-size: 1.25rem;
}

.hero {
  height: 100vh;              /* ⬅️ ocupa toda la pantalla */
  width: 100%;
  background-image: url('/hero.jpg'); /* tu imagen */
  background-size: cover;     /* ⬅️ se adapta a cualquier pantalla */
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.button-play {
  position: fixed;
  bottom: 20px;
  left: 20px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: var(--gold-softer);
  border: 2px solid var(--gold-soft);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 1000;
}

.button-play img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}


/* secret */
.game-overlay {
  position: fixed;
  inset: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.game-box {
  background: #fff;
  padding: 1.5rem;
  border-radius: 16px;
  text-align: center;
}

canvas {
  display: block;
  border: 2px solid #000;
  margin: 1rem 0;
}

canvas {
  width: 100%;
  height: auto;
}
canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.game-overlay{
  position: fixed;
  inset: 0;
  background-image: url("/bg-cam-s.png");
  background-size: 100% 107%;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
}

.app {
  width: clamp(500px, 90vw, 900px);
  aspect-ratio: 500 / 636;

  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
}



#root{
  min-width: 500px;
  min-height: 100%;

  width: 100%;

  aspect-ratio: 500 / 636;
  height: 100vh;
  display: grid;

}